## **Optimize the Model**

**Preprocessing**

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import pandas as pd
import numpy as np

In [2]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], 1)
application_df.head()

<ipython-input-3-5608f9275d84>:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  application_df = application_df.drop(["EIN", "NAME"], 1)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# First, calculate the value counts and decide on a cutoff value for binning
cutoff_value = 528
# Find application types to replace based on the cutoff value
application_types_to_replace = [app_type for app_type, count in application_df['APPLICATION_TYPE'].value_counts().items() if count < cutoff_value]
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [7]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# First, calculate the value counts for the 'CLASSIFICATION' column
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

# Then, filter these counts to only include classifications with a count greater than 1
classifications_greaterthan1 = classification_counts[classification_counts >1]
classifications_greaterthan1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 1883

#find classification_to_replace based on cut off value = 1883
classifications_to_replace = [class_types for class_types, count in application_df["CLASSIFICATION"].value_counts().items() if count < cutoff_value]
#classifications_to_replace[0:5]
#giving variable name "other" to the classifications_to_replace list
Other = classifications_to_replace

In [11]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
#finding categorical columns first
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [13]:
#finding numerical columns
application_num= application_df.dtypes[application_df.dtypes != "object"].index.tolist()
application_num

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [14]:
# Check the number of unique values in each column
application_df[application_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            6
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`b
application_df_dummies = pd.get_dummies(application_df)
application_df_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [16]:
# Split our preprocessed data into our features and target arrays
y = application_df_dummies["IS_SUCCESSFUL"].values
X = application_df_dummies.drop(["IS_SUCCESSFUL"],1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=25)

<ipython-input-16-a5c1c8e04f91>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df_dummies.drop(["IS_SUCCESSFUL"],1).values

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
#create a method that creates a new sequential model with hyperparameter options, first attempt:
number_input_features = len(X_train_scaled[0])
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=5,
        max_value=50,
        step=2), activation=activation, input_dim=number_input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 5)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=5,
            max_value=50,
            step=2),
            activation=activation))

    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model

    # Check the structure of the model
    nn_model.summary()

In [19]:
!pip install keras-tuner

Requirement already satisfied: keras-tuner in /usr/local/lib/python3.10/dist-packages (1.4.7)
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.15.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.31.0)
Requirement already satisfied: kt-legacy in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (1.0.5)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2024.2.2)

In [20]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=25,
    hyperband_iterations=2)

Reloading Tuner from ./untitled_project/tuner0.json

In [21]:
%%time
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

CPU times: user 1.32 ms, sys: 0 ns, total: 1.32 ms
Wall time: 1.82 ms

In [22]:
# Get top 3 model hyperparameters and print the values
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

{'activation': 'relu', 'first_units': 27, 'num_layers': 3, 'units_0': 45, 'units_1': 25, 'units_2': 45, 'units_3': 19, 'units_4': 41, 'tuner/epochs': 25, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 11, 'num_layers': 5, 'units_0': 39, 'units_1': 15, 'units_2': 21, 'units_3': 33, 'units_4': 13, 'tuner/epochs': 25, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 41, 'num_layers': 5, 'units_0': 39, 'units_1': 43, 'units_2': 19, 'units_3': 15, 'units_4': 47, 'tuner/epochs': 25, 'tuner/initial_epoch': 9, 'tuner/bracket': 1, 'tuner/round': 1, 'tuner/trial_id': '0021'}

In [23]:
# Evaluate the top 3 models against the test dataset
top_model = tuner.get_best_models(3)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5587 - accuracy: 0.7275 - 1s/epoch - 4ms/step
Loss: 0.5586715340614319, Accuracy: 0.7274635434150696
268/268 - 1s - loss: 0.5575 - accuracy: 0.7264 - 1s/epoch - 5ms/step
Loss: 0.5575248003005981, Accuracy: 0.7264139652252197
268/268 - 1s - loss: 0.5579 - accuracy: 0.7262 - 1s/epoch - 5ms/step
Loss: 0.5579397082328796, Accuracy: 0.7261807322502136

In [24]:
# Export our model to HDF5 file
from google.colab import files
# Save the first model in the list
top_model[0].save('/content/AlphabetSoupCharity_Optimization.h5')

# Download the file to your local computer
files.download('/content/AlphabetSoupCharity_Optimization.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [25]:
#create a  method that creates another  sequential model with hyperparameter options, second attempt:
number_input_features = len(X_train_scaled[0])
def create_model1(hp):
    nn_model1 = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['Leaky ReLU', 'ELU'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model1.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=100,
        step=7), activation=activation, input_dim=number_input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model1.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=15,
            step=5),
            activation=activation))

    nn_model1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model1.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])

    return nn_model1

In [26]:
# Import the kerastuner library
import keras_tuner as kt

tuner1 = kt.Hyperband(
    create_model1,
    objective="val_accuracy",
    max_epochs=70,
    hyperband_iterations=2)

Reloading Tuner from ./untitled_project/tuner0.json

In [27]:
%%time
# Run the kerastuner search for best hyperparameters
tuner1.search(X_train_scaled,y_train,epochs=40,validation_data=(X_test_scaled,y_test))

CPU times: user 1.52 ms, sys: 0 ns, total: 1.52 ms
Wall time: 11.1 ms

In [28]:
# Get top 3 model hyperparameters and print the values
top_hyper1 = tuner1.get_best_hyperparameters(3)
for param in top_hyper1:
    print(param.values)

{'activation': 'relu', 'first_units': 27, 'num_layers': 3, 'units_0': 45, 'units_1': 25, 'units_2': 45, 'units_3': 19, 'units_4': 41, 'tuner/epochs': 25, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 11, 'num_layers': 5, 'units_0': 39, 'units_1': 15, 'units_2': 21, 'units_3': 33, 'units_4': 13, 'tuner/epochs': 25, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 31, 'num_layers': 2, 'units_0': 25, 'units_1': 31, 'units_2': 21, 'units_3': 45, 'units_4': 27, 'tuner/epochs': 25, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}

In [29]:
# Evaluate the top 3 models against the test dataset
top_model1 = tuner1.get_best_models(3)
for model in top_model1:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 2s - loss: 0.5587 - accuracy: 0.7275 - 2s/epoch - 8ms/step
Loss: 0.5586715340614319, Accuracy: 0.7274635434150696
268/268 - 1s - loss: 0.5575 - accuracy: 0.7264 - 1s/epoch - 5ms/step
Loss: 0.5575248003005981, Accuracy: 0.7264139652252197
268/268 - 1s - loss: 0.5566 - accuracy: 0.7262 - 1s/epoch - 5ms/step
Loss: 0.5565953850746155, Accuracy: 0.7261807322502136

In [30]:
#create a  method that creates another  sequential model with hyperparameter options, third attempt:
number_input_features = len(X_train_scaled[0])
def create_model2(hp):
    nn_model2 = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['Leaky ReLU', 'ELU'])

    # Allow kerastuner to decide number of neurons in first layer
    nn_model2.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=20,
        step=5), activation=activation, input_dim=number_input_features))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 4)):
        nn_model2.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=3),
            activation=activation))

    nn_model2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model2.compile(loss="binary_crossentropy", optimizer='SGD', metrics=["accuracy"])

    return nn_model2

In [31]:
# Import the kerastuner library
import keras_tuner as kt

tuner2 = kt.Hyperband(
    create_model2,
    objective="val_accuracy",
    max_epochs=70,
    hyperband_iterations=2)

Reloading Tuner from ./untitled_project/tuner0.json

In [32]:
%%time
# Run the kerastuner search for best hyperparameters
tuner2.search(X_train_scaled,y_train,epochs=40,validation_data=(X_test_scaled,y_test))

CPU times: user 1.1 ms, sys: 7 s, total: 1.11 ms
Wall time: 1.25 ms

In [33]:
# Get top 3 model hyperparameters and print the values
top_hyper2 = tuner2.get_best_hyperparameters(3)
for param in top_hyper2:
    print(param.values)

{'activation': 'relu', 'first_units': 27, 'num_layers': 3, 'units_0': 45, 'units_1': 25, 'units_2': 45, 'units_3': 19, 'units_4': 41, 'tuner/epochs': 25, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 11, 'num_layers': 5, 'units_0': 39, 'units_1': 15, 'units_2': 21, 'units_3': 33, 'units_4': 13, 'tuner/epochs': 25, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'relu', 'first_units': 41, 'num_layers': 5, 'units_0': 39, 'units_1': 43, 'units_2': 19, 'units_3': 15, 'units_4': 47, 'tuner/epochs': 25, 'tuner/initial_epoch': 9, 'tuner/bracket': 1, 'tuner/round': 1, 'tuner/trial_id': '0021'}

In [34]:
# Evaluate the top 3 models against the test dataset
top_model2 = tuner2.get_best_models(3)
for model in top_model2:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 3s - loss: 0.5587 - accuracy: 0.7275 - 3s/epoch - 11ms/step
Loss: 0.5586715340614319, Accuracy: 0.7274635434150696
268/268 - 2s - loss: 0.5575 - accuracy: 0.7264 - 2s/epoch - 6ms/step
Loss: 0.5575248003005981, Accuracy: 0.7264139652252197
268/268 - 1s - loss: 0.5579 - accuracy: 0.7262 - 1s/epoch - 5ms/step
Loss: 0.5579397082328796, Accuracy: 0.7261807322502136